<html>
  <head> 
    <link rel="stylesheet" type="text/css" href="live.css" media=screen \>
  </head>
  <script src="angular.min.js"></script>
  <body ng-app="pwdApp">
    <script>
      /**********************************************************************************/
      /*                              Config                                            */
      /**********************************************************************************/

      RACE_ID = '';
      POLL_TIME = 4000;
      CURRENT_RACE_URL = "/heat/current/";
      CURRENT_RACE_STATUS_URL = "/race/lanes/";
      NEXT_RACE_URL = "/heat/next/";
      LEADERS_URL = "/race/leaderboard/";
      HIGHSCORE_URL = "/race/highscore/";
      
      /*
      CURRENT_RACE_URL = "http://146.254.106.46:8080/heat/current/2018-Test";
      NEXT_RACE_URL = "http://146.254.106.46:8080/heat/next/2018-Test";
      LEADERS_URL = "http://146.254.106.46:8080/race/leaderboard/2018-Test";
      HIGHSCORE_URL = "http://146.254.106.46:8080/race/highscore/2018-Test";
      */
      
      var app = angular.module('pwdApp', []);

      /**********************************************************************************/
      /*                              Current Race Logic                                */
      /**********************************************************************************/
      function getCurrentRace(restData) {
            var race = [];
            var lanes = ["Grey", "Blue", "Orange", "Berry"];
            var i;
            for (i = 0; i < 4; i++) {
                race.push({ name: restData.results[i].ow, lane: lanes[i], time: restData.results[i].t, score: restData.results[i].score});
            }
            return race;
      }
      function setStatus(race, status) {
          var i;
          if (race.length != 4)
              return race;
          if (status.lanes.length != 4)
              for (i = 0; i < 4; i++)
                  race[i].status = "unknown";
          else
              for (i = 0; i < 4; i++)
                  race[i].status = status.lanes[i].status;
          return race;
      }
      app.controller('getCurrentRace', function ($scope, $q, $http, $interval) {
          $interval(function () {
              $scope.currCars = [];
              $q.all([
                $http.get(CURRENT_RACE_URL + RACE_ID),
                $http.get(CURRENT_RACE_STATUS_URL + RACE_ID)
              ]).then(function (results) {
                  
                  //$scope.currCars = getCurrentRace(results[0].data);
                  var race = getCurrentRace(results[0].data);
                  var status = results[1].data;
                  $scope.currCars = setStatus(race, status);
                  
              });
          }, POLL_TIME);
      });
      /**********************************************************************************/
      /*                               Next Race Logic                                  */
      /**********************************************************************************/
      function getNextRace(restData) {
            var race = [];
            var lanes = ["Grey", "Blue", "Orange", "Berry"];
            var i;
            for (i = 0; i < 4; i++) {
                race.push({ name: restData.results[i].ow, lane: lanes[i] });
            }
            return race;
      }

      app.controller('getNextRace', function ($scope, $http, $interval) {

          $interval(function () {
              $http.get(NEXT_RACE_URL + RACE_ID).
                  then(function success(response) {
                      $scope.cars = getNextRace(response.data);

                  }, function error(response) {
                      //error handling here
                      $scope.error = response.statusText;
                  })
          }, POLL_TIME);
      });

      /**********************************************************************************/
      /*                                  Leaders Logic                                 */
      /**********************************************************************************/
      function getLeaders(restData) {
            let leaders = [];
            let lanes = ["Dark Gray", "Turquoise", "Orange", "Bordeaux"];
            for (let i = 0; i < (restData.length < 10 ? restData.length : 10); i++) {
                leaders.push({ name: restData[i].ow, cumScore: restData[i].cumulatedScore, cumTime: restData[i].cumulatedTime });
            }
            return leaders;
      }
      
      app.controller('getLeaders', function ($scope, $http, $interval) {

          $interval(function () {
              $http.get(LEADERS_URL + RACE_ID).
                  then(function success (response) {
                      $scope.leaders = getLeaders(response.data);
                  }, function error(response) {
                      //error handling here
                      $scope.error = response.statusText;
                  })
          }, POLL_TIME);
      });

      /**********************************************************************************/
      /*                                  Highscore Logic                               */
      /**********************************************************************************/
      function getHighscore(restData) {
              let highscore = [];
              let lanes = ["Dark Gray", "Turquoise", "Orange", "Bordeaux"];
              for (let i = 0; i < (restData.length < 3 ? restData.length : 3); i++) {
                  highscore.push({ rank: restData[i].rank, name: restData[i].ow, time: restData[i].t, heat: restData[i].heat });
              }
              return highscore;
      }
      
      app.controller('getHighscore', function ($scope, $http, $interval) {

          $interval(function () {
              $http.get(HIGHSCORE_URL + RACE_ID).
                  then(function success (response) {
                      $scope.highscore = getHighscore(response.data);
                  }, function error(response) {
                      //error handling here
                      $scope.error = response.statusText;
                  })
          }, POLL_TIME);
      });


      /**********************************************************************************/
      /*                                  RaceId Logic                                  */
      /**********************************************************************************/
      app.controller('inputRaceId', function ($scope) {
        $scope.raceId = RACE_ID;

        $scope.updateRaceId = function() {
          RACE_ID = $scope.inputRaceId;
          $scope.raceId = RACE_ID;
        }
      });
    </script>

    <div id="dvBanner">
	    <h1>SRS Pinewood Derby 2018</h1>
    </div>
    <div ng-controller="getCurrentRace" id="dvCurrentRace">
	    <h2 align="center">Current Race</h2>
	    <table>
		    <tr><th>Pos.</th><th>Owner Name</th><th>Lane</th><th>Status</th><th>Time</th><th>Score</th></tr>
		    <tr ng-repeat="x in currCars"><td> {{ $index + 1 }} </td> <td> {{ x.name }} </td> <td> {{ x.lane }} </td><td> {{ x.status }} </td><td> {{ x.time }} </td><td> {{ x.score }} </td></tr>
	    </table>
    </div>
    <div ng-controller="getNextRace" id="dvNextRace">
	    <h2 align="center">Next Race</h2>
	    <table>
		    <tr><th>Pos.</th><th>Owner Name</th><th>Lane</th></tr>
		    <tr ng-repeat="x in cars"><td> {{ $index + 1 }} </td> <td> {{ x.name }} </td> <td> {{ x.lane }} </td></tr>
	    </table>
    </div>
    <div ng-controller="getLeaders" id="dvLeaderBoard">
	    <h2 align="center">Leaderboard</h2>
	    <table>
		    <tr><th>Pos.</th><th>Owner Name</th><th>Cumulated Score</th><th>Cumulated Time</th></tr>
		    <tr ng-repeat="x in leaders"><td> {{ $index + 1 }} </td> <td> {{ x.name }} </td> <td> {{ x.cumScore }} </td><td> {{ x.cumTime }} </td></tr>
	    </table>
    </div>
    <div ng-controller="getHighscore" id="dvHighscore">
	    <h2 align="center">Highscores</h2>
         <table>
		    <tr><th>Rank</th><th>Owner Name</th><th>Time</th><th>Heat</th></tr>
		    <tr ng-repeat="x in highscore"><td> {{ x.rank }} </td> <td> {{ x.name }} </td> <td> {{ x.time }} </td><td> {{ x.heat }} </td></tr>
	    </table>
    </div>
    <div ng-controller="inputRaceId" id="dvInputRaceId">
	    <h2 align="left">RaceID: {{ raceId }}</h2>
	    <label>RaceID: <input type="text" name="inputRaceId" ng-model="inputRaceId">
		    <button ng-click=updateRaceId()>Update</md-button>
	    </label>
    </div>
  </body>
</html>
